/* Settings */
/*=============================================
=            Settings           =
=============================================*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

/* Colors */
/* Fonts */
/* font-family: 'Barlow', sans-serif; */
/* font-family: 'Fraunces', serif; */
/*=====  End Settings  ======*/
/* Componentes */
/*=============================================
=            Component / HEADER           =
=============================================*/
.header {
  width: 100%;
  height: 100vh;
  background: url(../../images/desktop/image-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.nav__logo {
  width: 150px;
}
.nav__menu {
  display: flex;
  flex-direction: row;
  gap: 60px;
  list-style: none;
}
.nav__hamburguer {
  display: none;
}
.nav__link {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-family: "Barlow", sans-serif;
  font-size: 1.1em;
}
.nav__link--btn {
  background-color: rgba(255, 255, 255, 0.1647058824);
  border-radius: 20px;
  padding: 10px 20px;
  transition: 0.3s all ease-in;
}
.nav__link--btn:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(198, 62%, 26%);
  font-family: "Fraunces", serif;
  font-weight: 700;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.hero__title {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 4em;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
}
.hero__img {
  margin-top: 8rem;
  animation: bounce 3s ease infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
/*=====  End Component / HEADER  ======*/
/*=============================================
=              Component / ORGANIZED            =
=============================================*/
.organized {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.organized__item01 {
  background-color: hsl(0, 0%, 100%);
  overflow: hidden;
  display: grid;
  place-items: center;
}
.organized__item02 {
  background-color: aquamarine;
  overflow: hidden;
  background-image: url(../../images/desktop/image-transform.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.organized__item03 {
  background-color: rgb(206, 138, 54);
  overflow: hidden;
  background-image: url(../../images/desktop/image-stand-out.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.organized__item04 {
  background-color: hsl(0, 0%, 100%);
  overflow: hidden;
  display: grid;
  place-items: center;
}
.organized__container {
  width: 70%;
}
.organized__title {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 2.8rem;
  color: hsl(212, 27%, 19%);
}
.organized__content {
  font-family: "Barlow", sans-serif;
  font-size: 1.1em;
  line-height: 1.2;
  margin: 30px 0;
}
.organized__cta {
  font-family: "Fraunces", serif;
  font-size: 1.3em;
  text-decoration: none;
  font-weight: 700;
  color: hsl(212, 27%, 19%);
}
.organized__cta--yellow {
  border-bottom: 3px solid hsla(51, 100%, 49%, 0.63);
  transition: all 0.2s ease;
}
.organized__cta--yellow:hover {
  border-bottom: 5px solid hsl(51, 100%, 49%);
}
.organized__cta--red {
  border-bottom: 3px solid hsla(7, 99%, 70%, 0.63);
  transition: all 0.2s ease;
}
.organized__cta--red:hover {
  border-bottom: 5px solid hsl(7, 99%, 70%);
}

@media screen and (max-width: 760px) {
  .organized {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 80%);
  }
  .organized__item01 {
    order: 1;
    text-align: center;
  }
  .organized__item02 {
    order: 0;
  }
  .organized__item03 {
    order: 2;
  }
  .organized__item04 {
    order: 3;
    text-align: center;
  }
}
/*=====  End of   Component / ORGANIZED  ======*/

/*# sourceMappingURL=style.css.map */
