
/*=============================================
=            Component / HEADER           =
=============================================*/

.header{
    width: 100%;
    height: 100vh;
    background: url(../../images/desktop/image-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: relative;
    &__logo{
        width: 150px;
    }

    &__menu{
        display: flex;
        flex-direction: row;
        gap: 60px;
        list-style: none;
    }

    &__hamburguer{
        display: none;
    }

    &__link{
        text-decoration: none;
        color: $white;
        font-family: 'Barlow', sans-serif;
        font-size: 1.1em;

        &--btn{
            background-color: #ffffff2a;
            border-radius: 20px;
            padding: 10px 20px;
            transition: .3s all ease-in;

            &:hover{
                background-color: $white;
                color: $dark-blue;
                font-family: 'Fraunces', serif;
                font-weight: 700;
            }
        }
    }
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

    &__title{
        font-family: 'Fraunces', serif;
        font-weight: 700;
        font-size: 4em; 
        text-transform: uppercase;
        color: $white;
        text-align: center;
    }

    &__img{
        margin-top: 8rem;
        animation: bounce 3s ease infinite;
    }
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }


  @media screen and (max-width:760px){
    .nav{
        &__menu{
            &::before{
                content: '';    
                display: block;
                position: absolute;
                top: -20px;
                right: 0;
                border: 10px solid $white;
                border-top-color: transparent;
                border-left-color: transparent;
            }

            display: none;
            position: absolute;
            top:100%;
            right: 0;
            left: 0;
            background-color: $white;
            flex-direction: column;
            row-gap: 50px;
            text-align: center;
            padding: 50px 0;
            z-index: 100;
            opacity: 0; /* Establecemos la opacidad inicial en 0 */
            transform: translateY(-10px); /* Desplazamos el menú hacia arriba */
            transition: opacity 0.3s, transform 0.3s; /* Agregamos la transición */

            &--active{
                opacity: 1; /* Mostramos el menú */
                transform: translateY(0); /* Lo movemos de nuevo a su posición original */
                display: flex;
            }

        }

        &__hamburguer{
            display: block;
            cursor: pointer;
        }

        &__link{
            color: $dark-blue;
            font-size: 1.5em;
            font-weight: 500;
    
            &--btn{
                background-color: $yellow;
                border-radius: 30px;
                padding: 15px 30px;
                transition: .3s all ease-in;
    
                &:hover{
                    background-color: $dark-blue;
                    color: $white;
                    font-family: 'Fraunces', serif;
                    font-weight: 700;
                }
            }
        }
    }
  }

  

/*=====  End Component / HEADER  ======*/

