
/*=============================================
=              Component / ORGANIZED            =
=============================================*/
.organized{

    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);

    &__item01{
        background-color: $white;
        overflow: hidden;
        display: grid;
        place-items: center;
    }

    &__item02{
        background-color:aquamarine;
        overflow: hidden;
        background-image: url(../../images/desktop/image-transform.jpg);
        background-position:center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__item03{
        background-color: rgb(206, 138, 54);
        overflow: hidden;
        background-image: url(../../images/desktop/image-stand-out.jpg);
        background-position:center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__item04{
        background-color:$white;
        overflow: hidden;
        display: grid;
        place-items: center;
    }

    &__container{
        width: 70%;
    }

    &__title{
        font-family: 'Fraunces', serif;
        font-weight: 700;
        font-size: 2.8rem;
        color: $desaturated-blue;
    }

    &__content{
        font-family: 'Barlow', sans-serif;
        font-size: 1.1em;
        line-height: 1.2;
        margin: 30px 0;
    }
 
    &__cta{
        font-family: 'Fraunces', serif;
        font-size: 1.3em;
        text-decoration: none;
        font-weight: 700;
        color: $desaturated-blue;
        &--yellow{
            border-bottom: 3px solid hsla(51, 100%, 49%, 0.63);
            transition: all .2s ease;
            &:hover{
                border-bottom: 5px solid $yellow;  
            }
        }

        &--red{
            border-bottom: 3px solid hsla(7, 99%, 70%, 0.63);
            transition: all .2s ease;
            &:hover{
                border-bottom: 5px solid $soft-red;
            }
        }
    }
}

@media  screen and (max-width:760px) {
    .organized{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,80%);
        &__item01{
            order: 1;
            text-align: center;
        }
        
        &__item02{
            order: 0;
        }

        &__item03{
            order: 2;
        }

        &__item04{
            order: 3;
            text-align: center;
        }
}    
    
}


/*=====  End of   Component / ORGANIZED  ======*/


